# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.venv/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# Misc files
ToBeAdded.txt
server/logs/
web/__pycache__/
web/scrape.py
web/__pycache__/scrape.cpython-311.pyc
