# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# Misc files
ToBeAdded.txt
server/logs/MongoErrors.log
